@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-dawning: 'Dawning of a New Day', cursive, sans-serif;
    --color-mint-500: oklch(0.72 0.11 178);
    --color-canvas:#fff;
    --color-primary:#A41F24;
    --color-secondary:#F9D0E2;
}
@font-face {
    font-family: 'Dawning of a New Day';
    src: url('../fonts/DawningofaNewDay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  